.sidebar_wrapper{
    position:relative;
    z-index: 1;
    width: 270px;
    min-height: 100vh;
    background: rgba(255,255,255,0.7);
    backdrop-filter: blur(20px);
    border-right: 1px solid rgba(255,165,0,0.3);
    box-shadow: 4px 0 20px rgba(249,115,22,0.3);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.sidebar_container{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.icons_with_contents{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 12px 0;
    padding: 12px 18px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.icons{
    font-size: 22px;
    color: #fb923c;
    transition: transform 0.3s ease, color 0.3s ease;
}

.sidebar_contents{
    list-style: none;
}
.sidebar_contents a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #4b5563;
    transition: color 0.3s ease;
}
.icons_with_contents:hover .icons{
    color: black;
    transform: scale(1.1);
}
.icons_with_contents:hover a{
    color: black;
}
.sidebar_contents a.active{
    color: #f97316;
    font-weight: 600;
}
.icons_with_contents.active{
    background-color: #f97316;
    color: white;
    border-radius:10px;
}
.icons_with_contents.active a{
    color: white;
}
.icons_with_contents.active .icons{
    color: white;
}
