*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body{
  background: #f5f9ff;
  color: #333;
  overflow: hidden;
}
.main_appp{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
.the_dashboards{
  display: flex;
  width: 100%;
  min-height: calc(100cvh -70px);
  background: #eef3fb;
  transition: all 0.3s ease;
}
